<ion-header>
    <ion-item color="primary">
        <ion-avatar slot="start">
            <img src="/assets/avatars/logo-volarys.png">
        </ion-avatar>
    </ion-item>
</ion-header>
<ion-content fullscreen color="dark">
    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-subtitle
                    *ngIf="objArticulo.articuloSegmento">{{objArticulo.articuloSegmento.descripcion | uppercase}}</ion-card-subtitle>
            <ion-card-title>
                <strong>
                    {{objArticulo.descripcion | uppercase}}
                </strong>
            </ion-card-title>
        </ion-card-header>
        <ion-item color="secondary" *ngIf="objArticulo.obsevacion && objArticulo.obsevacion !==''">
            <ion-card-content>
                {{objArticulo.obsevacion}}
            </ion-card-content>
        </ion-item>


        <!--Cuando no es transporte-->
        <ion-item color="secondary"
                  *ngIf="objArticulo.esServicio && !objArticulo.articuloSegmento.esServicioTransporte">
            <ion-card-content>
                <strong>
                    Precio por servicio:
                </strong>
                {{objArticulo.unidadCosto| currency}}
            </ion-card-content>
        </ion-item>
        <ion-item color="secondary" *ngIf="!objArticulo.esServicio">
            <ion-card-content>
                <strong>
                    Precio por artículo:
                </strong>
                {{objArticulo.unidadCosto| currency}}
            </ion-card-content>
        </ion-item>

        <ion-item color="secondary" *ngIf="objArticulo.horaInicio">
            <ion-card-content>
                <strong>
                    Horario de atención:
                </strong>
                Desde:
                <strong>
                    {{objArticulo.horaInicio| date:'h:mm a'}}
                </strong>
                Hasta:
                <strong>
                    {{objArticulo.horaFin| date:'h:mm a'}}
                </strong>
            </ion-card-content>
        </ion-item>

        <!--Cuando es transporte-->
        <ion-item color="secondary"
                  *ngIf="objArticulo.esServicio && objArticulo.articuloSegmento.esServicioTransporte">
            <ion-card-content>
                <small>
                    * El precio será acordado con el transportista, el valor dependerá de la distancia del viaje
                </small>
            </ion-card-content>
        </ion-item>
    </ion-card>
</ion-content>

