<ion-header>
    <app-imagen-usuario></app-imagen-usuario>
</ion-header>
<ion-content fullscreen color="dark">
    <ion-card *ngFor="let notificacion of lsNotificaciones" color="light">
        <div *ngIf="notificacion.tipoNotificacon===0 && notificacion.esServicio">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img [src]="notificacion.picture|urlSanitizer">
                </ion-avatar>
                <strong>
                    <small>{{notificacion.displayName}}{{', '}}{{notificacion.titulo}}{{' para: '}}{{notificacion.nombreSegmento|uppercase}}</small>
                </strong>
                <ion-avatar slot="end">
                    <img [src]="(notificacion.portada | imagen: notificacion.idSegmento )| urlSanitizer">
                </ion-avatar>
            </ion-item>
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </div>
        <div *ngIf="notificacion.tipoNotificacon===1">
            <ion-item color="light">
                <ion-icon slot="start" *ngIf="notificacion.like" name="thumbs-up"></ion-icon>
                <ion-icon slot="start" *ngIf="!notificacion.like" name="thumbs-down"></ion-icon>
                <small *ngIf="!notificacion.esServicio">{{notificacion.displayName}}{{',  '}}{{notificacion.titulo}}{{'  '}}{{notificacion.nombreSegmento| uppercase}}</small>

                <small *ngIf="notificacion.esServicio && notificacion.like">{{notificacion.displayName}}{{', tubo experiencia positiva '}}{{' con el servicio de: '}} {{notificacion.nombreSegmento | uppercase}}</small>
                <small *ngIf="notificacion.esServicio && !notificacion.like">{{notificacion.displayName}}{{', tubo experiencia negativa '}}{{' con el servicio de: '}} {{notificacion.nombreSegmento | uppercase}}</small>

                <ion-avatar slot="end">
                    <img [src]="(notificacion.portada | imagen: notificacion.idSegmento )| urlSanitizer">
                </ion-avatar>
            </ion-item>
        </div>

        <div *ngIf="notificacion.tipoNotificacon===2">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-avatar>
                <strong>
                    <small>Volarys indica: {{notificacion.idSegmento}} </small>
                </strong>
            </ion-item>
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </div>

        <div *ngIf="notificacion.tipoNotificacon===3 && notificacion.playerId === playerId">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-avatar>
                <strong>
                    <small>Volarys indica: {{notificacion.idSegmento}} </small>
                </strong>
            </ion-item>
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </div>
    </ion-card>
</ion-content>

