<ion-header>
    <app-imagen-usuario></app-imagen-usuario>
</ion-header>
<ion-content fullscreen color="dark">
    <ion-card *ngFor="let notificacion of lsNotificaciones" color="light">
        <div *ngIf="notificacion.tipoNotificacon===0">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img [src]="notificacion.picture|urlSanitizer">
                </ion-avatar>
                <strong>
                    <small>{{notificacion.displayName}}{{',  '}}{{notificacion.titulo}}</small>
                </strong>
            </ion-item>
            <ion-item color="light">
                <strong>
                    <small>para:{{' '}}{{notificacion.nombreSegmento |uppercase }}</small>
                </strong>
                <ion-avatar slot="end">
                    <img [src]="(notificacion.portada | imagen: notificacion.idSegmento )| urlSanitizer">
                </ion-avatar>
            </ion-item>
            <ion-card-content>

                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </div>
        <div *ngIf="notificacion.tipoNotificacon===1">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img [src]="notificacion.picture|urlSanitizer">
                </ion-avatar>
                <strong>
                    <small>{{notificacion.displayName}}{{',  '}}{{notificacion.titulo}}</small>
                </strong>
                <ion-icon slot="end" *ngIf="notificacion.like" name="thumbs-up"></ion-icon>
                <ion-icon slot="end" *ngIf="!notificacion.like" name="thumbs-down"></ion-icon>
            </ion-item>
            <ion-item color="light">
                <strong>
                    <small>con:{{' '}}{{notificacion.nombreSegmento | uppercase}}</small>
                </strong>
                <ion-avatar slot="end">
                    <img [src]="(notificacion.portada | imagen: notificacion.idSegmento )| urlSanitizer">
                </ion-avatar>
            </ion-item>
        </div>

        <div *ngIf="notificacion.tipoNotificacon===2">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-avatar>
                <strong>
                    <small>Volarys</small>
                </strong>
            </ion-item>
            <!--<ion-item color="light">
                <small>Hacerca del servicio de:{{' '}}{{notificacion.nombreSegmentro}}</small>
            </ion-item>-->
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </div>

        <div *ngIf="notificacion.tipoNotificacon===3 && notificacion.playerId === playerId">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-avatar>
                <strong>
                    <small>Volarys</small>
                </strong>
            </ion-item>
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </div>
    </ion-card>
</ion-content>

