<ion-header>
    <app-imagen-usuario></app-imagen-usuario>
</ion-header>
<ion-content fullscreen color="dark">
    <div *ngFor="let notificacion of lsNotificaciones" color="light">

        <ion-card color="light" *ngIf="notificacion.tipoNotificacon===0 && notificacion.esServicio">
                <ion-item color="light">
                    <ion-avatar slot="start">
                        <img [src]="notificacion.picture|urlSanitizer">
                    </ion-avatar>
                    <strong>
                        <small>{{notificacion.displayName}}{{', '}}{{notificacion.titulo}}{{' para: '}}{{notificacion.nombreSegmento|uppercase}}</small>
                    </strong>
                    <ion-avatar slot="end">
                        <img [src]="(notificacion.portada | imagen: notificacion.idSegmento )| urlSanitizer">
                    </ion-avatar>
                </ion-item>
                <ion-card-content>
                    <small>
                        {{notificacion.mensaje}}
                    </small>
                </ion-card-content>
        </ion-card>

        <ion-card color="light" *ngIf="notificacion.tipoNotificacon===1">
            <ion-item color="light">
                <ion-icon slot="start" *ngIf="notificacion.like" name="thumbs-up"></ion-icon>
                <ion-icon slot="start" *ngIf="!notificacion.like" name="thumbs-down"></ion-icon>
                <small *ngIf="!notificacion.esServicio">{{notificacion.displayName}}{{',  '}}{{notificacion.titulo}}{{'  '}}{{notificacion.nombreSegmento| uppercase}}</small>

                <small *ngIf="notificacion.esServicio && notificacion.like">{{notificacion.displayName}}{{', recomienda el servicio de: '}} {{notificacion.nombreSegmento | uppercase}}</small>
                <small *ngIf="notificacion.esServicio && !notificacion.like">{{notificacion.displayName}}{{', no recomienda servicio de: '}} {{notificacion.nombreSegmento | uppercase}}</small>

                <ion-avatar slot="end">
                    <img [src]="(notificacion.portada | imagen: notificacion.idSegmento )| urlSanitizer">
                </ion-avatar>
            </ion-item>
        </ion-card>

        <ion-card color="light" *ngIf="notificacion.tipoNotificacon===2">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-avatar>
                <strong>
                    <small>Volarys indica: {{notificacion.idSegmento}} </small>
                </strong>
            </ion-item>
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </ion-card>

        <ion-card color="light" *ngIf="notificacion.tipoNotificacon===3 && notificacion.playerId === playerId">
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-avatar>
                <strong>
                    <small>Volarys indica: {{notificacion.idSegmento}} </small>
                </strong>
            </ion-item>
            <ion-card-content>
                <small>
                    {{notificacion.mensaje}}
                </small>
            </ion-card-content>
        </ion-card>

    </div>
</ion-content>

