<ion-header *ngIf="tipoArticulo">
    <ion-toolbar color="primary">
        <ion-buttons slot="start" (click)="tipoArticulo=undefined">
            <ion-back-button defaultHref="/main"></ion-back-button>
            Regresar
        </ion-buttons>
        <ion-item color="primary">
            <ion-avatar slot="end">
                <img src="/assets/avatars/logo-volarys.png">
            </ion-avatar>
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-header *ngIf="!tipoArticulo">
    <app-imagen-usuario></app-imagen-usuario>
</ion-header>
<ion-content color="dark">

    <app-item-seleccionado size="12" size-lg="12" size-md="12" size-sm="12" size-xs="12"
                           *ngIf="tipoArticulo" [tipoArticulo]="tipoArticulo">
    </app-item-seleccionado>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                     [hidden]="tipoArticulo" *ngFor="let item of lstTipoArticulo">
                <ion-card (click)="selecionar(item)" color="secondary">
                    <ion-card-header>
                        <ion-card-title>{{item.nombre}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <small>
                            {{item.descripcion}}
                        </small>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

