<ion-content color="secondary">
    <ion-slide>
        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <img src="/assets/avatars/logo-volarys.png">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <form [formGroup]="ingresoForm" (ngSubmit)="login()">
                        <ion-row *ngIf="!esProduccion">
                            <ion-col>
                                <ion-list class="background-input">

                                    <ion-item [hidden]="true">
                                        <ion-input></ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <ion-input formControlName="correo" type="email"
                                                   placeholder="Email"></ion-input>
                                    </ion-item>


                                    <ion-item>
                                        <ion-input formControlName="clave" type="password"
                                                   placeholder="Password"></ion-input>
                                    </ion-item>


                                    <ion-item [hidden]="true">
                                        <ion-input
                                                placeholder="Password"></ion-input>
                                    </ion-item>

                                </ion-list>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button *ngIf="!esProduccion"
                                            type="submit"
                                            color="tertiary"
                                            expand="block">Ingresar
                                </ion-button>
                                <ion-button (click)="loginFaceBook()" expand="block">
                                    Ingresar
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </ion-button>
                                <ion-button color="danger" (click)="loginGoogle()" expand="block">
                                    Ingresar
                                    <ion-icon name="logo-google"></ion-icon>
                                </ion-button>

                            </ion-col>
                        </ion-row>
                    </form>
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-slide>
</ion-content>
