<ion-content color="tertiary">
    <ion-card *ngFor="let comment of lsComentarios" color="light">
        <div *ngIf="comment.persona.displayName">
            <ion-item color="light">
                <ion-avatar slot="start" *ngIf="comment.persona && comment.persona.picture">
                    <img [src]="comment.persona.picture|urlSanitizer">
                </ion-avatar>
                <small>{{comment.persona.displayName}}</small>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <div class="ion-text-end">
                                <small>{{comment.creacionFecha | date : 'MM/dd/yy H:mm a'}}</small>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-buttons slot="end" *ngIf="comment.persona._id === objTipoUsuarioPersona.persona._id">
                    <ion-button slot="end" color="danger" (click)="eliminarComentario(comment)">
                        <ion-icon slot="icon-only" name="trash">
                        </ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <ion-card-content>
                <ion-label>
                    {{comment.comentario}}
                </ion-label>
            </ion-card-content>
        </div>
    </ion-card>
</ion-content>
<ion-footer color="tertiary">
    <ion-textarea color="light" [(ngModel)]="message" type="text" placeholder="Comentar .... "></ion-textarea>
    <ion-toolbar>
        <ion-buttons  slot="start">
            <ion-button (click)="cerrarMoal()" color="warning">
                Volver
            </ion-button>
        </ion-buttons>
        <ion-buttons color="success" slot="end">
            <ion-button (click)="registrarComentario(message); message= null">
                <ion-icon color="success" slot="icon-only" name="send">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
