<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Estado Disponibilidad</ion-title>
    <ion-button ion-button color="primary"
                slot="start"
                *ngIf="!objjEstadoRua"
                (click)="crearNuevo()">NUEVO
    </ion-button>
    <ion-button ion-button color="primary" slot="start"
                *ngIf="objjEstadoRua"
                (click)="objjEstadoRua=null">CANCELAR
    </ion-button>
    <ion-button ion-button color="primary"
                slot="end"
                *ngIf="objjEstadoRua"
                (click)="registrar(objjEstadoRua)">GUARDAR
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list *ngIf="objjEstadoRua"
  >
    <ion-item color="dark">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input class="ion-text-uppercase" [(ngModel)]="objjEstadoRua.nombre"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="floating">Código</ion-label>
      <ion-input class="ion-text-uppercase" [(ngModel)]="objjEstadoRua.codigo"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="floating">Color</ion-label>
      <ion-input [(ngModel)]="objjEstadoRua.color"></ion-input>
    </ion-item>



  </ion-list>

  <ion-list *ngIf="!objjEstadoRua && lstEstadoRuta && lstEstadoRuta.length>0"
  >
    <ion-item-sliding *ngFor="let item of lstEstadoRuta; let i = index">
      <ion-item color="dark">
        <ion-label>{{item.nombre | uppercase}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="objjEstadoRua=item">
          <ion-icon slot="icon-only" ios="ios-list-box" md="md-list-box"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
