<app-imagen-usuario></app-imagen-usuario>

<ion-content color="dark" fullscreen>
    <ion-list>
        <ion-item color="tertiary">
            <ion-label>Total</ion-label>
            <ion-badge color="success" slot="end">{{ sumatoria}}</ion-badge>
        </ion-item>
    </ion-list>


    <ion-item-group color="dark">
        <ion-item-sliding *ngFor="let item of lstDetalle;let i = index">
            <ion-item color="dark">
                <ion-badge color="secondary">{{(item.cantidad * item.unidadCosto).toFixed(2)}}</ion-badge>
                <ion-label class="ion-text-right">{{item.nombreArticulo | uppercase}}</ion-label>
                <ion-icon (click)="remove(item)" slot="end" name="remove-circle"></ion-icon>
                <div slot="end">{{item.cantidad}}</div>
                <ion-icon (click)="add(item)" slot="end" name="add-circle"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="eliminar(i)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-button expand="block" *ngIf="lstDetalle.length>0" color="solicitar" slot="end"
                    (click)="registrarSolicitud()">
            SOLCITAR PEDIDO A VOLARYS
        </ion-button>
        <ion-button expand="block" *ngIf="lstDetalle.length>0" color="warning" slot="end" (click)="eliminarLista()">
            BORRAR LISTA DE PEDIDOS
        </ion-button>
        <ion-button expand="block" color="vermas" slot="end" (click)="abrirListaPedidos()">
            VER HISTORIAL DE COMPRAS
        </ion-button>


    </ion-item-group>


</ion-content>

<ion-footer>
    <ion-item color="tertiary">
        <small>
            Si ha solicitado un servcio en su pedido, el valor de este será comunicado por el chofer o
            repartidor
        </small>
    </ion-item>
</ion-footer>
