<ion-header>
    <ion-toolbar color="dark">
        <ion-title>CONFIGURACIÓN</ion-title>
        <ion-button ion-button color="primary"
                    slot="end"
                    *ngIf="!panelActivo"
                    (click)="activarPanel(true)">Cancelar
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-list *ngIf="panelActivo">
        <ion-item (click)="activarPanel(false)" color="dark">
            <ion-label>
                Actualizar Perfil
            </ion-label>
        </ion-item>
        <ion-item (click)="salirSesion()" color="dark">
            <ion-label>
                Salir
            </ion-label>
        </ion-item>

    </ion-list>
    <!--<app-profile *ngIf="!panelActivo">

    </app-profile>-->
</ion-content>
