<ion-header>
    <app-imagen-usuario></app-imagen-usuario>
</ion-header>
<ion-content fullscreen color="dark">
    <ion-list *ngIf="panelActivo">
        <ion-item (click)="activarPanel(false)" color="dark">
            <ion-label>
                Actualizar Perfil
            </ion-label>
        </ion-item>
        <ion-item *ngIf="parametro" color="dark">
            <a [href]="numeroContacto | urlSanitizer">Comuniquese con nosotros</a>
        </ion-item>
        <ion-item (click)="salirSesion()" color="dark">
            <ion-label>
                Salir
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
