<ion-content fullscreen>
    <ion-item class="close-fake" lines="none" text-center>

    </ion-item>
    <img [src]="(nombre | imagen: directorio )  |urlSanitizer" class="thumb-img" imageViewer>
    <!--<ion-img [src]="(nombre | imagen: directorio )  |urlSanitizer"  ></ion-img>-->
    <!--    <ion-item class="close-fake" lines="none" text-center>
            <ion-buttons (click)="" fill="clear" color="light">
                <ion-icon name="close" slot="start"></ion-icon>
            </ion-buttons>
        </ion-item>-->

    <!--<ion-card-header>
        <ion-card-title>Hotel Panama Garden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>-->
</ion-content>
