<div class="post">
  <div class="image-slide"
             [style]=" (objArticulo.imgs[0] | imagen: objArticulo.articuloSegmento ) | domSanitizer ">
  </div>
  <!--<ion-slides pager="true" *ngIf="objArticulo.imgs.length > 1">
    <ion-slide *ngFor="let img of objArticulo.imgs"
               class="image-slide"
               [style]=" (img | imagen: objArticulo.articuloSegmento ) | domSanitizer ">
    </ion-slide>
  </ion-slides>
  <ion-slides *ngIf="objArticulo.imgs.length === 1" [options]="slideSoloOpts">
    <ion-slide class="image-slide"
               [style]=" (objArticulo.imgs[0] | imagen: objArticulo.articuloSegmento ) | domSanitizer ">
    </ion-slide>
  </ion-slides>-->
</div>


