ion-card-content {
  color: #4c8dff !important;
}


.image-slide {
  width: 100%;
  height: 250px;

  // background-color: red;

  /* Full height */
  // height: 100%;

  /* Imagen centrada y colocada de forma elegante */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

