<ion-slides pager="true" *ngIf="lstArticulo" loop="true">
    <ion-slide *ngFor="let data of lstArticulo | segmentoArticulo:segmento">
        <ion-card color="secondary">
            <ion-card-header>
                <ion-card-subtitle>{{segmento.descripcion | uppercase }}</ion-card-subtitle>
            </ion-card-header>
            <ion-slide class="image-slide">
                <ion-button fill="clear" *ngIf="!data.esServicio" class="profilebutton" color="success"
                            (click)="zoomImage(data.portada,data.articuloSegmento._id)">
                    <fa-icon [icon]="wstp"></fa-icon>
                </ion-button>
                <img [src]="(data.portada | imagen: data.articuloSegmento._id )  |urlSanitizer" class="thumb-img">
            </ion-slide>
            <ion-card color="tertiary">
                <br/>
                <div *ngIf="!data.esBanner">
                    <ion-label *ngIf="!data.esServicio">
                        <h3>
                            <strong>
                                {{data.descripcion | uppercase}}
                            </strong>
                        </h3>
                        <p>Costo por unidad: {{data.unidadCosto | currency}}</p>
                    </ion-label>
                    <ion-label *ngIf="data.esServicio">
                        <h3>
                            <strong>
                                {{data.descripcion | uppercase}}
                            </strong>
                        </h3>
                        <p>Costo por servicio: {{data.unidadCosto | currency}}</p>
                    </ion-label>
                </div>
                <div *ngIf="data.esBanner">
                    <ion-label>
                        <h3>
                            <strong>
                                {{data.descripcion | uppercase}}
                            </strong>
                        </h3>

                    </ion-label>
                    {{data.obsevacion}}
                    <div *ngIf="data.horaInicio">
                        <small>
                            Horario de atención
                        </small>
                        <ion-label class="card-center">
                            <small>
                            {{data.horaInicio| date:'h:mm a'}} -{{data.horaFin| date:'h:mm a'}}
                            </small>
                        </ion-label>
                    </div>
                </div>
                <ion-button color="solicitar" *ngIf="!data.ocultarBotonSolicitar" (click)="seleccionarArticulo(data)"
                            expand="block">Agregar a pedidos
                </ion-button>
                <ion-button color="dark" *ngIf="data.verObservacion" (click)="verMasPanel(data)"
                            expand="block">ver más
                </ion-button>
            </ion-card>
            <ion-card color="dark" *ngIf="!data.permiteComentar">
                <ion-row>
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="actualizarLike(data,true)">
                            <ion-icon slot="start" name="thumbs-up"></ion-icon>
                            <div>{{ data.conteoLike }} Lo recomiendo</div>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="actualizarLike(data,false)">
                            <ion-icon slot="start" name="thumbs-down"></ion-icon>
                            <div>{{ data.conteoDisLike}} No lo recomiendo
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card color="dark" *ngIf="data.permiteComentar">
                <ion-row>
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="actualizarLike(data,true)">
                            <ion-icon slot="start" name="thumbs-up"></ion-icon>
                            <div>{{ data.conteoLike }} Lo recomiendo</div>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="actualizarLike(data,false)">
                            <ion-icon slot="start" name="thumbs-down"></ion-icon>
                            <div>{{ data.conteoDisLike}} No lo recomiendo
                            </div>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" size="small" (click)="abrirModal(data)">
                            <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
                            <div>{{ data.conteoComentarios}}
                                Comente nuestro servicio
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-card>
    </ion-slide>
</ion-slides>





